@model List<EventManagement.Model.UserInfo>

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Name</th>
            <th>Role</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.EmailId</td>
                <td>@user.UserName</td>
                <td>@user.Role</td>
                
            </tr>
        }
    </tbody>
</table>


